extends layout

block content
	div(id="mainContent", class="main")
		a(href="http://expressjsguide.com", title="Express.js Guide", target="_blank") Express.js Guide
		form(action="/index.html")
			button(type="submit", value="save") Save
		div(class="hero-unit") Learn Node.js!