extends layout

block content
	h1 List of tutorials from 
		a(href="http://webapplog.com/jade/") webapplog
	h4
		a(href="tags", title="tags") tags
	h4
		a(href="locals", title="locals") locals
	h4
		a(href="attributes", title="attributes") attributes
	h4
		a(href="attributesWithLocals", title="attributes with locals") attributes with locals
	h4
		a(href="literals", title="literals") literals
	h4
		a(href="text", title="raw text") raw text
	h4
		a(href="inlineScriptnStyle", title="inline scripting and styling") inline scripting and styling
	h4
		a(href="executableJS", title="JS code executed at compile time") JS code executed at compile time
	h4
		a(href="comments", title="comments") comments
	h4
		a(href="conditions", title="conditions") conditions
	h4
		a(href="loops", title="loops") loops
	h4
		a(href="filters", title="filters") filters
	h4
		a(href="interpolation", title="interpolation") interpolation
	h4
		a(href="switches", title="switches") switches
	h4
		a(href="mixins", title="mixins") mixins
	h4
		a(href="includes", title="includes") includes
	h4
		a(href="extendsFileA", title="extends") extends

		