extends layout

block content
	h1 List of tutorials from webapplog.com
	h3
		a(href="tags.html", title="tags tutorial") tags
	h3
		a(href="locals.html", title="locals tutorial") locals
	h3
		a(href="attributes.html", title="attributes tutorial") attributes
